<!-- Topbar Start -->
<div class="container-fluid px-0 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-lg-4 text-center bg-secondary py-3">
            <div class="d-inline-flex align-items-center justify-content-center">
                <i class="bi bi-envelope fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h6 class="text-uppercase mb-1">Écrivez-nous</h6>
                    <a href="mailto:info@exemple.com">info@example.com</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center bg-primary border-inner py-3">
            <div class="d-inline-flex align-items-center justify-content-center">
                <a href="{{ path('app_cake_index') }}" class="navbar-brand">
                    <h1 class="m-0 text-uppercase text-white"><i class="fa fa-birthday-cake fs-1 text-dark me-3"></i>CakeZone</h1>
                </a>
            </div>
        </div>
        <div class="col-lg-4 text-center bg-secondary py-3">
            <div class="d-inline-flex align-items-center justify-content-center">
                <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h6 class="text-uppercase mb-1">Appelez-nous</h6>
                    <a href="tel:+0123456789">+01 23 45 67 89</a>
                </div>
                <div class="nav-item dropdown mx-5">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Templates</a>
                    <div class="dropdown-menu m-0">
                        <a href="{{ path('app_cake_index') }}" class="dropdown-item">CakeZone</a>
                        <a href="{{ path('app_barberz_index') }}" class="dropdown-item">Barberz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-0">
    <a href="{{ path('app_cake_index') }}" class="navbar-brand d-block d-lg-none">
        <h1 class="m-0 text-uppercase text-white"><i class="fa fa-birthday-cake fs-1 text-primary me-3"></i>CakeZone</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto mx-lg-auto py-0">
            <a href="{{ path('app_cake_index') }}" class="nav-item nav-link active">Accueil</a>
            <a href="{{ path('app_cake_about') }}" class="nav-item nav-link">À propos de nous</a>
            <a href="{{ path('app_cake_menu') }}" class="nav-item nav-link">Menu & Prix</a>
            <a href="{{ path('app_cake_team') }}" class="nav-item nav-link">Maîtres pâtissier</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu m-0">
                    <a href="{{ path('app_cake_services') }}" class="dropdown-item">Nos services</a>
                    <a href="{{ path('app_cake_testimonial') }}" class="dropdown-item">Témoignages</a>
                </div>
            </div>
            <a href="{{ path('app_cake_contact') }}" class="nav-item nav-link">Contactez-nous</a>
        </div>
    </div>
</nav>
<!-- Navbar End -->
